/* EventPage.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    background-color: #0f2d45; /* Dark blue background */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    color: rgb(67, 106, 142);
  }
  
  h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
  }
  
  .event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .event-card {
    background-color: #5793d3;
    color: black;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
  }
  
  .event-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .event-card p {
    font-size: 14px;
    margin: 5px 0;
  }
  